## EDA of cadiovascular diseases data 

(https://www.kaggle.com/code/sulianova/eda-cardiovascular-data/notebook)

According to the description of this notebook, https://www.kaggle.com/code/sulianova/eda-cardiovascular-data/notebook,

the dataset consists of 70 000 records of patients data in 12 features, such as age, gender, systolic blood pressure, diastolic blood pressure, and etc. The target class "cardio" equals to 1, when patient has cardiovascular desease, and it's 0, if patient is healthy.

The goal of Data Analysis is to answer questions about the data, to extract relevant information from the values. Then, if we can automatize the analysis we did and monitor the results, we'll be able to tackle on big data projects. 

One simple step would be to write down a notebook with full analysis on a particular dataset and then changing the input data to a bigger and more diverse dataset and see if the foundings and conclusions still hold true. 

Another way (more clever and efficient) is testing different machine learning models along with cross-validation techniques and elect the one with better results (the best accuracy when it comes to predict target class). By separating the dataset in train and test partitions, we can assure the model trained from train data would be unbiased to the test data, and thus, our results would hold themselves more certain of the model ability of generalization. (Study more on https://www.statlearning.com/).


#### Data description

There are 3 types of input features:

- *Objective*: factual information;
- *Examination*: results of medical examination;
- *Subjective*: information given by the patient.

| Feature | Variable Type | Variable      | Value Type |
|---------|--------------|---------------|------------|
| Age | Objective Feature | age | int (days) |
| Height | Objective Feature | height | int (cm) |
| Weight | Objective Feature | weight | float (kg) |
| Gender | Objective Feature | gender | categorical code |
| Systolic blood pressure | Examination Feature | ap_hi | int |
| Diastolic blood pressure | Examination Feature | ap_lo | int |
| Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
| Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
| Smoking | Subjective Feature | smoke | binary |
| Alcohol intake | Subjective Feature | alco | binary |
| Physical activity | Subjective Feature | active | binary |
| Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

All of the dataset values were collected at the moment of medical examination. 

### Initial analysis
Let's review the dataset and its columns.

In [1]:
ss = SparkSession.builder.appName("cardio_dataset").getOrCreate()
df_cardio = spark.read.options(header='True', inferSchema='True', delimiter=';').csv("./data/cardio_train.csv")
df_cardio.createOrReplaceTempView("tab_cardio")

pd_df_cardio = df_cardio.toPandas()
pd_df_cardio.info() #70.000 rows of 13 columns: 1 id and 12 features

df_cardio.printSchema() #we're going to ommit this specific command later on, because the pandas df one is more infomative 

#if the data has duplicate rows, we can delete them
pd_df_cardio.drop_duplicates(inplace=True)

#if the unique values of a column matches the number of rows, it's a potential key, if not told before
print(pd_df_cardio.id.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int32
 1   age          70000 non-null  int32
 2   gender       70000 non-null  int32
 3   height       70000 non-null  int32
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int32
 6   ap_lo        70000 non-null  int32
 7   cholesterol  70000 non-null  int32
 8   gluc         70000 non-null  int32
 9   smoke        70000 non-null  int32
 10  alco         70000 non-null  int32
 11  active       70000 non-null  int32
 12  cardio       70000 non-null  int32
dtypes: float64(1), int32(12)
memory usage: 3.7 MB
root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- ap_hi: integer (nullable = true)
 |-- ap_lo: integer (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- gluc: integer (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- cardio: integer (nullable = true)

70000

In [2]:
#Suppose the dataset was split into two or more parts, each maintaining the row id
#Then we can combine the data in pySpark with sql JOIN query 
#https://sparkbyexamples.com/pyspark/pyspark-read-csv-file-into-dataframe/from pyspark.sql import SparkSession

df_base = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("./data/cardio_base.csv")
df_base.createOrReplaceTempView("tab_base")
df_base.printSchema()
df_alco = spark.read.options(header='True', inferSchema='True', delimiter=';').csv("./data/cardio_alco.csv")
df_alco.createOrReplaceTempView("tab_alco")
df_alco.printSchema()

#join query
df_base = ss.sql("select tb.*, ta.alco from tab_base tb left join tab_alco ta on ta.id = tb.id")
df_base.show()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- ap_hi: integer (nullable = true)
 |-- ap_lo: integer (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- smoke: integer (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- alco: integer (nullable = true)

+---+-----+------+------+------+-----+-----+-----------+-----+----+
| id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|smoke|alco|
+---+-----+------+------+------+-----+-----+-----------+-----+----+
|  0|18393|     2|   168|  62.0|  110|   80|          1|    0|null|
|  1|20228|     1|   156|  85.0|  140|   90|          3|    0|null|
|  2|18857|     1|   165|  64.0|  130|   70|          3|    0|null|
|  3|17623|     2|   169|  82.0|  150|  100|          1|    0|null|
|  4|17474|     1|   156|  56.0|  100|   60|          1|    0|null|
|  8|21914|     1|   151|  67.0|  120|   80|          2|    0|null|
|  9|22113|     1|   157|  93.0|  130|   80|          3|    0|null|
| 12|22584|     2|   178|  95.0|  130|   90|          3|    0|null|
| 13|17668|     1|   158|  71.0|  110|   70|          1|    0|null|
| 14|19834|     1|   164|  68.0|  110|   60|          1|    0|null|
| 15|22530|     1|   169|  80.0|  120|   80|          1|    0|null|
| 16|18815|     2|   173|  60.0|  120|   80|          1|    0|null|
| 18|14791|     2|   165|  60.0|  120|   80|          1|    0|null|
| 21|19809|     1|   158|  78.0|  110|   70|          1|    0|null|
| 23|14532|     2|   181|  95.0|  130|   90|          1|    1|null|
| 24|16782|     2|   172| 112.0|  120|   80|          1|    0|null|
| 25|21296|     1|   170|  75.0|  130|   70|          1|    0|null|
| 27|16747|     1|   158|  52.0|  110|   70|          1|    0|null|
| 28|17482|     1|   154|  68.0|  100|   70|          1|    0|null|
| 29|21755|     2|   162|  56.0|  120|   70|          1|    1|null|
+---+-----+------+------+------+-----+-----+-----------+-----+----+
only showing top 20 rows

In [15]:
#Now that the data is loaded entirely, let's look at some rows and after we'll see descriptive statistics over it.
pd_df_cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_number,gender_type
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,m
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,f
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51,f
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,m
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47,f

In [4]:
pd_df_cardio.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
#note that age column is in days, let's change that for complete years because we're going to use that as filter below
df_cardio = ss.sql("select *, floor(age/365) as age_number from tab_cardio")
df_cardio.createOrReplaceTempView("tab_cardio")
pd_df_cardio = df_cardio.toPandas()

In [14]:
print(pd_df_cardio.groupby('gender').height.mean())
print(pd_df_cardio.groupby('gender').weight.mean())

#The gender which is taller and heavier is probably men. So, we assume gender 2 is men and gender 1 is women
df_cardio = ss.sql("select *, case gender when 1 then 'f' else 'm' end as gender_type from tab_cardio")
df_cardio.createOrReplaceTempView("tab_cardio")
pd_df_cardio = df_cardio.toPandas()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64
gender
1    72.565605
2    77.257307
Name: weight, dtype: float64

In [18]:
#whats the percentage the MAX height is higher than the lowest height?
max_avg_weight = pd_df_cardio.groupby('age').weight.mean().max()
min_avg_weight = pd_df_cardio.groupby('age').weight.mean().min()
(max_avg_weight / min_avg_weight) - 1

14.0

In [21]:
#how much cholesterol people above 50yrs old have on average more than younger people?
h_col_avg = pd_df_cardio[pd_df_cardio.age_number >= 50].groupby('age').cholesterol.mean().mean()
l_col_avg = pd_df_cardio[pd_df_cardio.age_number < 50].groupby('age').cholesterol.mean().mean()
h_col_avg / l_col_avg

1.1563199045218837

In [20]:
#how much men smoke on average more than women?
men_smoke = pd_df_cardio[pd_df_cardio.gender_type == 'm'].smoke.mean()
women_smoke = pd_df_cardio[pd_df_cardio.gender_type == 'f'].smoke.mean()
men_smoke/women_smoke

12.257833097333833

In [22]:
#smallest height of 1% tallest
import pyspark.sql.functions as F
df_cardio.select(
    F.percentile_approx('height', 0.99, 1000000).alias("1%tallest")
).show()


print(pd_df_cardio['height'].quantile(q=0.99))

+---------+
|1%tallest|
+---------+
|      184|
+---------+

184.0

In [25]:
#For our analysis today, we'll also review this covid dataset
df_covid = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("./data/covid_data.csv")
df_covid.createOrReplaceTempView("tab_covid")

pd_df_covid = df_covid.toPandas()
pd_df_covid.info()

ss.sql("select * from tab_covid").show()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int32
 3   new_deaths                  23082 non-null  int32
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int32(2), object(2)
memory usage: 1.2+ MB
+-----------+----------+---------+----------+----------+---------------------+--------------+--------------------------+
|   location|      date|new_cases|new_deaths|population|aged_65_older_percent|gdp_per_capita|hospital_beds_per_thousand|
+-----------+----------+---------+----------+----------+---------------------+--------------+--------------------------+
|Afghanistan|2019-12-31|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-01|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-02|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-03|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-04|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-05|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-06|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-07|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-08|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-09|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-10|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-11|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-12|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-13|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-14|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-15|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-16|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-17|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-18|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
|Afghanistan|2020-01-19|        0|         0|  38928341|                2.581|      1803.987|                       0.5|
+-----------+----------+---------+----------+----------+---------------------+--------------+--------------------------+
only showing top 20 rows

In [26]:
pd_df_covid.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [27]:
pd_df_covid.describe()

,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
count,23082.000000,23082.000000,2.301800e+04,20643.000000,20711.000000,19144.000000
mean,624.769257,35.629062,1.037003e+08,9.758570,22708.384791,3.204687
std,5517.309068,330.986941,6.716897e+08,6.445662,21187.826121,2.593700
min,-2461.000000,-1918.000000,8.090000e+02,1.144000,661.240000,0.100000
25%,0.000000,0.000000,2.083380e+06,3.853000,6426.674000,1.400000
50%,3.000000,0.000000,9.449321e+06,7.646000,15524.995000,2.600000
75%,55.000000,1.000000,3.346920e+07,15.322000,35220.084000,4.210000
max,133510.000000,10520.000000,7.794799e+09,27.049000,116935.600000,13.800000

In [29]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
import os
from matplotlib import rcParams
rcParams['figure.figsize'] = 11, 8
df['years'] = (df_covid['age'] / 365).round().astype('int')
sns.countplot(x='years', hue='alco', data = df_covid, palette="Set2");

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `age` cannot be resolved. Did you mean one of the following? [`location`, `date`, `new_cases`, `new_deaths`, `population`, `aged_65_older_percent`, `gdp_per_capita`, `hospital_beds_per_thousand`].

In [ ]:
df_categorical = df_covid.loc[:,[ 'smoke', 'alco']]
sns.countplot(x="variable", hue="value",data= pd.melt(df_categorical));

In [ ]:
df.isnull().values.any()

In [ ]:
df.drop(df[(df['height'] > df['height'].quantile(0.975)) | (df['height'] < df['height'].quantile(0.025))].index,inplace=True)
df.drop(df[(df['weight'] > df['weight'].quantile(0.975)) | (df['weight'] < df['weight'].quantile(0.025))].index,inplace=True)

In [ ]:
print("Diastilic pressure is higher than systolic one in {0} cases".format(df[df['ap_lo']> df['ap_hi']].shape[0]))

In [ ]:
df.drop(df[(df['ap_hi'] > df['ap_hi'].quantile(0.975)) | (df['ap_hi'] < df['ap_hi'].quantile(0.025))].index,inplace=True)
df.drop(df[(df['ap_lo'] > df['ap_lo'].quantile(0.975)) | (df['ap_lo'] < df['ap_lo'].quantile(0.025))].index,inplace=True)

In [ ]:
blood_pressure = df.loc[:,['ap_lo','ap_hi']]
sns.boxplot(x = 'variable',y = 'value',data = blood_pressure.melt())
print("Diastilic pressure is higher than systolic one in {0} cases".format(df[df['ap_lo']> df['ap_hi']].shape[0]))

In [ ]:
corr = df.corr()
cmap = sns.diverging_palette(220, 10, as_cmap=True)
# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))
# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,annot = True,
            square=True, linewidths=.5, cbar_kws={"shrink": .5});

In [ ]:
import warnings
warnings.filterwarnings("ignore")
df_melt = pd.melt(frame=df, value_vars=['height'], id_vars=['gender'])
plt.figure(figsize=(12, 10))
ax = sns.violinplot(
    x='variable', 
    y='value', 
    hue='gender', 
    split=True, 
    data=df_melt, 
    scale='count',
    scale_hue=False,
    palette="Set2");

In [ ]:
#Question 8 - statements true with 95% confidence - men have higher blood pressure than women
df['BMI'] = df['weight']/((df['height']/100)**2)
sns.catplot(x="gender", y="ap_hi", hue="smoke", data=df, color = "yellow",kind="box", height=10, aspect=.7);

In [ ]:
#Question 9 - Covid cases difference between Germany and Italy
df3.createOrReplaceTempView("tab_covid")
ss.sql("select sum(ger.cases - it.cases) as difference, ger.date from (select sum(new_cases) over (order by date asc) as cases, date from tab_covid where location = 'Italy') it left join (select sum(new_cases) over (order by date asc) as cases, date from tab_covid where location = 'Germany') ger on it.date = ger.date where abs(ger.cases - it.cases) >= 10000 group by ger.date ").show()

In [ ]:
#Question 10 - fit exponential function (y=Ae^(Bx)) to the column 'cases' as a function of days passed since '2020-02-28', by minimizing squared loss. What is the difference between the exponential curve and the total number of real cases on 2020-03-20?
df = ss.sql("select sum(it.cases - ger.cases) as cases, ger.date from (select sum(new_cases) over (order by date asc) as cases, date from tab_covid where location = 'Italy') it left join (select sum(new_cases) over (order by date asc) as cases, date from tab_covid where location = 'Germany') ger on it.date = ger.date where  ger.date between '2020-02-28' and '2020-03-20' group by ger.date")
df.show()
df = df.toPandas()

import pandas as pd
import numpy as np
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt
df['date'] = pd.to_datetime(df['date'])
start_date = '2020-02-28'
df = df[df['date'] >= start_date]

# Filter the data for the desired date
target_date = '2020-03-20'
target_cases = df[df['date'] == target_date]['cases'].values[0]

# Calculate the days passed since the start date
df['days_passed'] = (pd.to_datetime(df['date']) - pd.to_datetime(start_date)).dt.days

# Define the exponential function
def exponential_func(x, A, B):
    return A * np.exp(B * x)

# Fit the exponential function to the 'cases' column values
popt, _ = curve_fit(exponential_func, df['days_passed'], df['cases'])

# Calculate the fitted values using the optimized parameters
df['fitted_cases'] = exponential_func(df['days_passed'], *popt)

# Plot the fitted curve and the actual 'cases' values
plt.plot(df['days_passed'], df['cases'], label='Actual Cases')
plt.plot(df['days_passed'], df['fitted_cases'], label='Fitted Curve')
plt.xlabel('Days Passed')
plt.ylabel('Cases')
plt.title('Exponential Curve Fitting')
plt.legend()
plt.show()

# Calculate the difference between the fitted curve and the total number of real cases on the target date
difference = df[df['date'] == target_date]['fitted_cases'].values[0] - target_cases
print('Difference:', difference)

In [ ]:
#Question 11 - find f1 score of the following statement: Countries, where more than 20% of the population is over 65 years old, have death rates over 50 per million inhabitants.
df = ss.sql("select location, max(aged_65_older_percent) aged_65_older_percent, sum(new_deaths)*1000000/max(population) as death_rate_per_million from tab_covid where aged_65_older_percent is not null group by location order by sum(new_deaths)*1000000/max(population) DESC")
df.show()
df = df.toPandas()

from sklearn.metrics import f1_score
# Calculate the predicted labels based on the given statement condition
df['predicted_label'] = (df['aged_65_older_percent'] > 20) & (df['death_rate_per_million'] > 50)

# Calculate the actual labels based on the ground truth
df['actual_label'] = (df['aged_65_older_percent'] > 20)  # Replace 'actual_condition_column' with your actual column name

# Calculate the F1 score
f1 = f1_score(df['actual_label'], df['predicted_label'])

print('F1 Score:', f1)

In [ ]:
#Question 11 - find f1 score of the following statement: Countries, where more than 20% of the population is over 65 years old, have death rates over 50 per million inhabitants.
df = ss.sql("select location, max(hospital_beds_per_thousand) hospital_beds_per_thousand, max(gdp_per_capita) gdp_per_capita from tab_covid where hospital_beds_per_thousand is not null and gdp_per_capita is not null group by location")
df.show()
df = df.toPandas()

total_countries = len(df)
selected_countries = df[df['hospital_beds_per_thousand'] >= 5]
countries_with_high_gdp = selected_countries[selected_countries['gdp_per_capita'] >= 10000]
probability = len(countries_with_high_gdp) / len(selected_countries)

print('Probability:', probability)